@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

   <blockquote>
      <p>Here must have the privacy policy of this enterprise</p>
    </blockquote>
</div>